h1{
    color: red;
    font-size: 48px;
    text-align: center;
}

img{
    display: block;
    width: 500px;
    height: auto;
    margin: 0 auto;
    
}

ul{
    text-align: center;
    font-size: 36px;
}

body{
    background-color: rgb(102, 226, 31);
    font-family:cursive;
}